body{
    background-image: url(/images/01.jpg);
    background-size: 100% 100%;
    height:100%;
}
html{
    height:100%;
}
@keyframes myfirst {
    0%{opacity: 0.25}
    50%{opacity: 1}
    100%{opacity: 0.25}
}
p{
    animation: myfirst 5s infinite ;
    animation-timing-function:linear;
}

#weltitle {
    transition:color 1s;
    -moz-transition:color 1s; /* Firefox */
    }
#weltitle:hover {
    color:lightblue;
    animation-timing-function:linear;
}/*当鼠标停留或离开<weltitle>元素时，发生颜色变化，时间为1s。控制单位是hover*/